@use 'variables';
@use 'typography';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
}

html {
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background: rgb(var(--color-background));
  color: rgb(var(--color-content));
  font: var(--font-body-md);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

code, kbd, samp, pre {
  font-size: 1rem;
  font-family: ui-monospace, "SFMono-Regular", "Consolas", 'Liberation Mono', "Menlo", monospace;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

table {
  border-color: currentcolor;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

a, a:hover, a:active, a:visited, button {
  color: rgb(var(--color-content));
  text-decoration: none;
  transition: color var(--duration-default), border var(--duration-default), background var(--duration-default);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}


