:root {
  --font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --font-xl-display: normal 700 3.75rem/4rem var(--font-family);
  --font-md-display: normal 700 3rem/3.25rem var(--font-family);
  --font-sm-display: normal 700 2.625rem/2.75rem var(--font-family);

  --font-xl-heading-2xl: normal 700 3rem/3.25rem var(--font-family);
  --font-md-heading-2xl: normal 700 2.75rem/3rem var(--font-family);
  --font-sm-heading-2xl: normal 700 2.5rem/2.75rem var(--font-family);

  --font-xl-heading-xl: normal 700 2.5rem/2.75rem var(--font-family);
  --font-md-heading-xl: normal 700 2.375rem/2.75rem var(--font-family);
  --font-sm-heading-xl: normal 700 2.25rem/2.5rem var(--font-family);

  --font-xl-heading-lg: normal 700 2rem/2.25rem var(--font-family);
  --font-md-heading-lg: normal 700 1.875rem/2.25rem var(--font-family);
  --font-sm-heading-lg: normal 700 1.75rem/2rem var(--font-family);

  --font-xl-heading-md: normal 700 1.625rem/2rem var(--font-family);
  --font-md-heading-md: normal 700 1.5rem/1.75rem var(--font-family);

  --font-heading-sm: normal 700 1.25rem/1.5rem var(--font-family);

  --font-body-lg: normal 400 1.125rem/1.75rem var(--font-family);
  --font-body-md: normal 400 1rem/1.5rem var(--font-family);
  --font-body-sm: normal 400 0.875rem/1.25rem var(--font-family);

  --font-caption: normal 400 0.75rem/1rem var(--font-family);
}
