:root {
  --color-background: 249 250 251;
  --color-layer-1: 243 244 246;
  --color-layer-2: 229 231 235;
  --color-layer-3: 209 213 219;

  --color-content: 17 24 39;
  --color-muted: 107 114 128;
  --color-subtle: 156 163 175;
  --color-white: 255 255 255;

  --color-accent: 20 184 166;
  --color-critical: 239 68 68;
  --color-caution: 250 204 21;

  --duration-fast: .05s;
  --duration-default: .15s;
  --duration-long: .25s;
}
