:root {
  --color-background: 247 247 247;
  --color-layer-1: 0 0 0;
  --color-layer-2: 0 0 0;
  --color-layer-3: 0 0 0;

  --color-content: 25 25 25;
  --color-muted: 0 0 0;
  --color-subtle: 0 0 0;

  --color-accent: 0 0 0;
  --color-critical: 0 0 0;
  --color-caution: 0 0 0;
  --color-success: 0 0 0;

  --duration-fast: .05s;
  --duration-default: .15s;
  --duration-long: .25s;
}
